/* ------------------------------------------------------- */
/* DOCUMENT */
/* ------------------------------------------------------- */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 253, 232);
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  display: flex;
  padding: 10px;
  width: 960px;
}

.content {
  flex-direction: column;
}

/* ------------------------------------------------------- */
/* HEADER AND NAV */
/* ------------------------------------------------------- */

header {
  background-color: rgb(255, 255, 255);
  margin-bottom: 40px;
}

header,
nav {
  display: flex;
}

nav {
  align-items: center;
}

nav > a,
nav > span {
  padding-left: 30px;
}

header > div.container {
  justify-content: space-between;
}

/* ------------------------------------------------------- */
/* ABOUT ME section */
/* ------------------------------------------------------- */

img#headshot {
  width: 200px;
}

article {
  background-color: rgb(255, 255, 255);
  width: 960px;
  margin: 0 auto;
}
