/* ------------------------------------------------------- */
/* DOCUMENT */
/* ------------------------------------------------------- */

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* ------------------------------------------------------- */
/* HEADER AND NAV */
/* ------------------------------------------------------- */

header,
nav {
  display: flex;
}

header {
  width: 960px;
  margin: 0 auto;
  justify-content: space-around;
}

nav {
  align-items: center;
}
