/* ------------------------------------------------------- */
/* DOCUMENT */
/* ------------------------------------------------------- */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(208, 216, 231);
}

h1 {
  background-color: rgb(86, 124, 181);
  color: white;
  margin: 0;
  padding: 20px 30px;
}

h2 {
  color: rgb(86, 124, 181);
}

a,
span,
p,
label {
  color: rgb(77, 77, 77);
}

p {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.9em;
  margin: 0;
}

a {
  text-decoration: none;
  letter-spacing: 0.2em;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 960px;
}

.content {
  flex-direction: column;
}

/* ------------------------------------------------------- */
/* HEADER AND NAV */
/* ------------------------------------------------------- */

header {
  background-color: rgb(255, 255, 255);
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(199, 199, 199);
}

header,
nav {
  display: flex;
}

nav {
  align-items: center;
}

nav > a,
nav > span {
  padding-left: 30px;
}

header > div.container {
  justify-content: space-between;
}

/* ------------------------------------------------------- */
/* ABOUT ME section */
/* ------------------------------------------------------- */

img#headshot {
  width: 200px;
  float: left;
  padding-top: 6px;
  margin-right: 10px;
}

article {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 920px;
  margin: 0 auto;
  border: 1px solid rgb(199, 199, 199);
}

article > div.container {
  width: inherit;
}

.separated {
  border-top: 1px solid rgb(199, 199, 199);
  padding-top: 40px;
  margin-top: 10px;
}

p#first {
  /* line-height: 2.5em; */
  padding-top: 100px;
  padding-right: 10px;
}

p#second {
  padding: 40px 0;
}

/* ------------------------------------------------------- */
/* CONTACT section */
/* ------------------------------------------------------- */

textarea,
input {
  display: block;
  margin-top: 10px;
  width: 100%;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 4px;
}

input {
  height: 30px;
}

form > div {
  padding: 15px 0;
}

button {
  padding: 10px 20px;
  background-color: rgb(86, 124, 181);
  border: none;
  color: white;
  font-size: 1.5em;
}

button:hover {
  background-color: rgb(55, 91, 145);
}

/* ------------------------------------------------------- */
/* PORTFOLIO section */
/* ------------------------------------------------------- */

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery-col {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

div.gallery-col > img {
  width: 200px;
  height: 200px;
}

/* ------------------------------------------------------- */
/* FOOTER section */
/* ------------------------------------------------------- */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(86, 124, 181);
}

.copyright {
  font-size: 0.9em;
  color: white;
}
