/* ------------------------------------------------------- */
/* DOCUMENT */
/* ------------------------------------------------------- */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 253, 232);
}

h1 {
  background-color: rgb(49, 82, 190);
  color: white;
  margin: 0;
  padding: 20px 30px;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  display: flex;
  /* padding: 10px; */
  width: 960px;
}

.content {
  flex-direction: column;
}

/* ------------------------------------------------------- */
/* HEADER AND NAV */
/* ------------------------------------------------------- */

header {
  background-color: rgb(255, 255, 255);
  margin-bottom: 40px;
  border-bottom: 2px solid rgb(199, 199, 199);
}

header,
nav {
  display: flex;
}

nav {
  align-items: center;
}

nav > a,
nav > span {
  padding-left: 30px;
}

header > div.container {
  justify-content: space-between;
}

/* ------------------------------------------------------- */
/* ABOUT ME section */
/* ------------------------------------------------------- */

img#headshot {
  width: 200px;
}

article {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 920px;
  margin: 0 auto;
  border: 1px solid rgb(199, 199, 199);
}

article > div.container {
  width: inherit;
}
